# AB Testing Case - Tips Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
from scipy.stats import shapiro, levene, ttest_ind, mannwhitneyu

In [2]:
# Elimizde bagimsiz iki orneklem varsa ve bunlarin ortalamalarini kiyaslamak istiyorsak
# bu durumda bagimsiz 2 orneklem T testi kullanilir.

In [3]:
# Aksiyon odakli, gelistirme surecine dayali cesitli oran veya ortalamali test etmek icin
# AB testi kullanilir.

In [ ]:
#Burada bir fark ama sans eseri mi?
# 1. Hipotezleri kur
 # H0: M1=M2
 # H1: M1 != M2

In [ ]:
# 2. Varsayim kontrolu
 # H0: Normallik varsayimi saglanmaktadir
 # H1: ... saglanmamaktadir.

#NOrmallik varsayimi icin shapiro testi kullanilir.

In [24]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 1-Sigara icenler ve icmeyenlerin toplam fatura orani arasinda istatistiksel olarak anlamli bir farklilik var mi?

In [6]:
df.groupby("smoker").agg({"tip": "mean",
                         "total_bill": "mean"})

             tip  total_bill
smoker
Yes     3.008710   20.756344
No      2.991854   19.188278

In [ ]:
df.groupby("smoker").agg({"total_bill": "mean"})

        total_bill
smoker
Yes      20.756344
No       19.188278

In [ ]:
test_stat, pvalue = shapiro(df.loc[df["smoker"]== "Yes", "total_bill"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9367 p-value = 0.0002

In [ ]:
# p < 0.05 oldugundan H0 red edilir. Yani dagilim  normal degildir. O yuzden mennwhitneyu testi kullanilmali.

In [ ]:
test_stat, pvalue = shapiro(df.loc[df["smoker"]== "No", "total_bill"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9045 p-value = 0.0000

In [ ]:
# p < 0.05 oldugundan H0 red edilir. Varsayim saglanmaz o yuzden non parametrik bir test kullanmamiz lazim.

In [ ]:
# Varsayimlar saglanmiyorsa mannwhitneyu testi uygulanir. Non parametrik test.

test_stat, pvalue = mannwhitneyu(df.loc[df["smoker"] == "Yes", "total_bill"],
                          df.loc[df["smoker"] == "No", "total_bill"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 7531.5000 p-value = 0.3413

In [23]:
# Yorum: p > 0.05 oldugundan H0 red edilemez. Yani anlamli bir farklilik yoktur.!
# Sigara icenler ve icmeyenlerin ödedigi toplam fatura miktarinda önemli ölcude fark yoktur.

In [15]:
# Not : H0'i kabul etmek diye bir yorum yoktur. H0 i red ettigimizde yapacagimiz hatayi biliriz 0.05 ama
# kabul ettigimizde bunu bilemeyiz.

In [ ]:
# Varsayimlar saglaniyorsa bagimsiz 2 orneklem t-testi (parametrik)

#test_stat, pvalue = ttest_ind(df.loc[df["smoker"] == "Yes", "total_bill"],
#                          df.loc[df["smoker"] == "No", "total_bill"], equal_var = False)
#print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

## 2-Erkeklerin ve kadinlarin bahsis orani arasinda istatistiksel olarak anlamli bir farklilik var mi?

In [ ]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
df.groupby("sex").agg({"tip": "mean",
                         "total_bill": "mean"})

             tip  total_bill
sex
Male    3.089618   20.744076
Female  2.833448   18.056897

In [10]:
test_stat, pvalue = shapiro(df.loc[df["sex"]== "Female", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9568 p-value = 0.0054

In [11]:
test_stat, pvalue = shapiro(df.loc[df["sex"]== "Male", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.8759 p-value = 0.0000

In [12]:
# p < 0.05 oldugundan H0 red edilir. Yani dagilim  normal degildir. O yuzden mennwhitneyu testi kullanilmali.

In [13]:
# Varsayimlar saglanmiyorsa mannwhitneyu testi uygulanir. Non parametrik test.

test_stat, pvalue = mannwhitneyu(df.loc[df["sex"]== "Female", "tip"],
                          df.loc[df["sex"]== "Male", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 6369.5000 p-value = 0.3834

In [22]:
# Yorum: p > 0.05 oldugundan H0 red edilemez. Yani anlamli bir farklilik yoktur.!
# Erkeklerin ve kadinlarin verdigi bahsis mikatrinda anlamli ölcude fark yoktur.

## 3-Zamanla bahsis orani arasinda istatistiksel olarak anlamli bir farklilik var mi?

In [16]:
df.groupby("time").agg({"tip": "mean"})

             tip
time
Lunch   2.728088
Dinner  3.102670

In [17]:
test_stat, pvalue = shapiro(df.loc[df["time"]== "Lunch", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.8687 p-value = 0.0000

In [18]:
test_stat, pvalue = shapiro(df.loc[df["time"]== "Dinner", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 0.9009 p-value = 0.0000

In [19]:
# p < 0.05 oldugundan H0 red edilir. Yani dagilim  normal degildir. O yuzden mennwhitneyu testi kullanilmali.

In [20]:
# Varsayimlar saglanmiyorsa mannwhitneyu testi uygulanir. Non parametrik test.

test_stat, pvalue = mannwhitneyu(df.loc[df["time"]== "Lunch", "tip"],
                          df.loc[df["time"]== "Dinner", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

Test Stat = 4905.0000 p-value = 0.0288

In [21]:
# Yorum: p < 0.05 oldugundan H0 red edilir. Yani anlamli bir farklilik vardir!
# Ögle yemeginde ve aksam yemeginde verilen bahsis miktari anlamli ölcude farklidir.

## 4-Kisi sayisi (Size) ile bahsis orani arasinda istatistiksel olarak anlamli bir farklilik var mi?

In [26]:
df["size"].value_counts()

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [25]:
df.groupby("size").agg({"tip": "mean"})

           tip
size
1     1.437500
2     2.582308
3     3.393158
4     4.135405
5     4.028000
6     5.225000

In [ ]:
test_stat, pvalue = shapiro(df.loc[df["sizea"]== "Lunch", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))

In [ ]:
test_stat, pvalue = shapiro(df.loc[df["time"]== "Dinner", "tip"])
print("Test Stat = %.4f p-value = %.4f" % (test_stat, pvalue))